footer {
    width: 99vw;
    margin-top: 180px;
}

.SectionFooter {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 2px white;
}


.DivImgFooter {
    width: 20%;
    height: 8vh;
    display: flex;
    justify-content: center;
}


img {
    width: 110px;
    height: 70px;
}